<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://vjs.zencdn.net/8.12.0/video-js.css" rel="stylesheet" />
</head>
<body>
    <video id="my-video" class="video-js" controls preload="auto" data-setup="{}">
        <source src="/episode/<%= url %>" type="application/x-mpegURL" />
    </video>
    <script src="https://vjs.zencdn.net/8.12.0/video.min.js"></script>
</body>
</html>